.body {
  background-color: #f6f7f8;
}

/*DASHBOARD*/

.rectangle {
  position: absolute;
  width: 910px;
  height: 310px;
  left: 50px;
  top: 40px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.rectangle2 {
  position: absolute;
  width: 910px;
  height: 310px;
  left: 50px;
  top: 390px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.rectangle3 {
  position: absolute;
  width: 460px;
  height: 661px;
  left: 1020px;
  top: 40px;
  background-color: #3f3f3f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.rectangle4 {
  position: absolute;
  width: 300px;
  height: 270px;
  left: 32px;
  top: 18px;
  background-color: #fdb501;
  border-radius: 12px;
}

.foto {
  width: 460px;
  height: 330.5px;
}

.boton {
  position: absolute;
  background-color: #fdb501;
  border: none;
  width: 810px;
  height: 80px;
  left: 32px;
  top: 30px;
  border: none;
  outline: none;
}

.boton:hover {
  background-color: #f5cd68;
}

.boton2 {
  position: absolute;
  background-color: #fdb501;
  border: none;
  width: 810px;
  height: 80px;
  left: 32px;
  top: 130px;
  border: none;
  outline: none;
}

.boton2:hover {
  background-color: #f5cd68;
}

.boton3 {
  background-image: url("../images/RUMAH.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  position: absolute;
  background-color: #fdb501;
  border: none;
  width: 60px;
  height: 60px;
  top: 90%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  outline: none;
  border-radius: 100%;
}

.boton3:hover {
  background-color: #f5cd68;
}

.tonbo {
<<<<<<< Updated upstream
    margin-top: 26px;
    border-radius: 12px;
    line-height: 2;
    color: white;
    text-align: center;
    font-size: 24px;
    -webkit-text-stroke: 0.5px white;
    margin-left: 15px;
    font-family: Louis George Café;
    letter-spacing: 1px;
}

.text{
    margin: 0;
    padding: 0;
    width: max-content;
    position: absolute;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text h1{
    margin: 0;
    padding: 0;
    font-size: 28px;
    -webkit-text-stroke: 0.5px white;
    color: white;
    font-family: Louis George Café;
}

.text h2{
    margin: 0;
    padding: 3px 0 0 0;
    font-size: 16px;
    color: white;
    font-family: Louis George Café;
}

.logo{
    position: absolute;
    top: 90%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.ukuran{
    width: 180px;
}

.foto-profile{
    background-image: url("/img/PROPIL.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 100%;
    position: absolute;
    width: 165px;
    height: 165px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
=======
  margin-top: 26px;
  border-radius: 12px;
  line-height: 2;
  color: white;
  text-align: center;
  font-size: 24px;
  -webkit-text-stroke: 0.5px white;
  margin-left: 15px;
  font-family: Louis George Café;
  letter-spacing: 1px;
}

.text {
  margin: 0;
  padding: 0;
  width: max-content;
  position: absolute;
  text-align: center;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.rectangle4 h1 {
  transform: translate(-0%, -50%);
  text-align: center;
  color: white;
  font-family: Louis George Café;
  font-size: 150px;
  -webkit-text-stroke: 3px white;
}

.rectangle4 p {
  width: 500px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  color: white;
  -webkit-text-stroke: 0.5px white;
  font-family: Louis George Café;
  font-size: 20px;
}

.text h1 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  -webkit-text-stroke: 0.5px white;
  color: white;
  font-family: Louis George Café;
}

.text h2 {
  margin: 0;
  padding: 3px 0 0 0;
  font-size: 16px;
  color: white;
  font-family: Louis George Café;
}

.logo {
  position: absolute;
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.ukuran {
  width: 180px;
}

.foto-profile {
  background-image: url("../images/PROPIL.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 100%;
  position: absolute;
  width: 165px;
  height: 165px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.inlineform-buttons {
  margin-top: 7px;
  position: absolute;
}

.botons1 {
  position: relative;
  background-color: #fdb501;
  border: none;
  width: 500px;
  height: 80px;
  left: 355px;
  top: 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.botons2 {
  position: absolute;
  background-color: #fdb501;
  border: none;
  width: 500px;
  height: 80px;
  left: 355px;
  top: 105px;
  border: none;
  outline: none;
}

.botons3 {
  position: absolute;
  background-color: #fdb501;
  border: none;
  width: 500px;
  height: 80px;
  left: 355px;
  top: 200px;
  border: none;
  outline: none;
}

.botons1:hover {
  background-color: #f5cd68;
}

.botons2:hover {
  background-color: #f5cd68;
}

.botons3:hover {
  background-color: #f5cd68;
}

.tonboo {
  border-radius: 12px;
}

.tonboo h1 {
  margin-top: 10px;
  padding-right: 30px;
  color: white;
  text-align: right;
  font-size: 30px;
  -webkit-text-stroke: 1px white;
  margin-left: 15px;
  font-family: Louis George Café;
  letter-spacing: 1px;
  margin-bottom: -20px;
}

.tonboo p {
  border-radius: 12px;
  padding-right: 30px;
  color: white;
  text-align: right;
  font-size: 18px;
  margin-left: 15px;
  font-family: Louis George Café;
  letter-spacing: 1px;
}

.imgbut {
  width: 150px;
  position: absolute;
  margin-left: -230px;
  margin-top: -64px;
}
>>>>>>> Stashed changes
